*.d
*.ko
*.o
*.so
*~
*.mod.c
*.efi
.*.cmd
.*.swp
.deps/
.tmp_versions/

cscope.out

Module.symvers
modules.order

autom4te.cache/
aclocal.m4
config.log
config.status
depcomp
install-sh
missing

.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
build.ninja
cmake_install.cmake
meson.build.user
build

/evtest

/algif
/af_unix
/cond_wait
/check_mem
/fadvise
/fcntl
/fork_leak
/fp1
/gai
/ipv6
/malloc_pages
/mmap
/msgrcv
/open_loop
/personality
/pgid_sid
/poll_sel
/pps
/pthread_once
/remote_tuner
/recv_udp
/root
/seq_write
/sig
/snd
/tun
/usb_killer
/vhci
